body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4fb;
}

h1{
    font-size: 36px;
    color: #2c3e50;
}

p{
    font-size: 18px;
    color: #555;
}

/* Smooth scrolling */
html{
    scroll-behavior: smooth;
}

/* Hero Section */

.hero-section{
    padding: 120px 20px 80px;
}

.hero-section h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 20px;
}

/* Bouncing Arrow */
.scroll-arrow{
    display: inline-block;
    font-size: 120px;
    text-decoration: none;
    margin-top: 40px;
    animation: bounce 1.5s infinite;
}


@keyframes bounce {
    0%, 20%, 50%, 80%,100% {
        transform: translateY(0);
    }
    40%{
        transform: translateY(15px);
    }
    60%{
        transform: translateY(7px);
    }
}

.guidance-content{
    white-space: pre-wrap;
    line-height: 1.7;
    font-size: 17px;
    color: #333;
}
.guidance-card{
    max-width: 900px;
    margin: 30px auto;
    border-radius: 15px;
}

.result-title{
    font-size: 36px;
    font-weight: 700;
}